<div class="orange_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="black_heading">
					<h1>About Font Sketch</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="white_section_box">
					If a picture is worth a thousand words, what is a word picture worth?
					<br>
					<br>
					360 reviews are a great idea. Problem is, they don’t work. The reviewers are inundated with far too many complex questions and scenarios to rate the subject on. The person being reviewed spends all their time worrying about what is being said about them, and then disagreeing with anything negative. Fonstketch turns that on it’s ear in two distinctive ways.
					<br>
					<br>
					First, the simple graphical representation of the most key elements of importance being rated make it easy on the reviewer, and clear to the subject. No more arcane, droning lists of 40 questions covering needless and inane scenarios to strongly agree or mildly disagree with!
					<br>
					<br>
					Second, by adding a predictive element to the subject being reviewed, it brings a whole new outlook absent in all other review methodologies. By predicting what reviewers will report on the subject, the subject is forced outside of themselves into another’s point of view…opening their mind to others’ perspectives while at the same time forcing a deep reflection on their own attributes.
					<br>
					<br>
					- Jeff Baumgarten, Font Sketch Creator, <a href="http://www.linkedin.com/in/jeffreymbaumgarten">LinkedIn</a>
					<br>
					<br>
					Jeff had the idea, Cyrus executed
					<br>
					<br>
					Cyrus Baumgarten (<a href="https://github.com/Cyrus-Baumgarten">GitHub</a>) coded Font Sketch by hand using Ruby on Rails in less than a week
				</div>
			</div>
		</div>
	</div>
</div>