<div class="landing_stripe">
	<div class="container">
		<h1>A New Way To Review</h1>
	</div>
</div>
<div class="grey_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>FONTSKETCH Is Lightning Fast Feedback From Your Associates</h1>
				<br>
				<em><h2>(and right now it's free)</h2></em>
			</div>
		</div>
	</div>
</div>
<div class="orange_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>
					Sentences And Number Are Boring
					<br>
					<br>
					Sliders And Pictures Are Fun
				</h1>
				<br>
				<h2>
					That's Why We Use Them
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="white_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<span style="font-size:30px">Admirable </span>
				<span style="font-size:70px">Capable </span>
				<span style="font-size:100px;">Dedicated</span>
				<br>
				<span style="font-size:80px">Engaging </span>
				<span style="font-size:50px">Industrious </span>
				<span style="font-size:30px;">Motivated</span>
				<br>
				<span style="font-size:30px">Professional </span>
				<span style="font-size:90px">Reliable </span>
				<span style="font-size:20px;">Trustworthy</span>
			</div>
		</div>
	</div>
</div>
<div class="orange_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>
					That's A Font Sketch
					<br>
					<br>
					You Don't Have to Read The Results, You See Them
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="grey_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>
					Getting Your Results Is Easy
				</h1>
				<br>
				<em><h2>(and did we say fast)</h2></em>
			</div>
		</div>
	</div>
</div>
<div class="orange_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>
					Choose Your Attributes
					<br>
					<br>
				</h1>
			</div>
		</div>
	</div>
	<div id="att_list">
	Able Actual Active Adept <span>Admirable</span> Appreciated Atypical Aware Bright <span>Capable</span> Cognizant Competent Constructive Contributive Decent <span>Dedicated</span> Discerning Discriminating Effective <span>Engaging</span> Enterprising Esteemed Exceptional Executive Fair Forthright Genuine Good Gratifying Honest Helpful Important <span>Industrious</span> Influential Just Level-headed Meaningful Mindful Moral <span>Motivated</span> Notable Personable Perspicacious Principled <span>Professional</span> Propitious Purposeful Valued Qualitative <span>Reliable</span> Reputable Resourceful Responsible Sedulous Thoughtful True <span>Trustworthy</span> Venerated Well-disposed Winning Worthy
	</div>
</div>
<div class="white_landing_stripe">
	<div class="container">
		<div class="row">
			<h1>Associates Use Sliders For Each Attribute To Create a Snapshot Of Your Employee</h1>
		</div>
	</div>
</div>
<div class="grey_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12" id="slider">
				<span style="font-size:20px">Admirable </span>
				<span style="font-size:40px">Admirable </span>
				<span style="font-size:60px">Admirable </span>
				<span style="font-size:80px">Admirable </span>
			</div>
		</div>
	</div>
</div>
<div class="white_landing_stripe">
	<div class="container">
		<div class="row">
			<h1>And Then He Does The Same, Creating a Snapshot For Himself As If He Were Them</h1>
		</div>
	</div>
</div>
<div class="orange_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span6">
				<span style="font-size:20px">Admirable </span>
				<span style="font-size:40px">Capable </span>
				<span style="font-size:70px;">Dedicated</span>
				<br>
				<span style="font-size:40px">Engaging </span>
				<span style="font-size:20px">Industrious </span>
				<span style="font-size:10px;">Motivated</span>
				<br>
				<span style="font-size:10px">Professional </span>
				<span style="font-size:50px">Reliable </span>
				<span style="font-size:20px;">Trustworthy</span>
			</div>
			<div class="span6">
				<span style="font-size:40px">Admirable </span>
				<span style="font-size:20px">Capable </span>
				<span style="font-size:30px;">Dedicated</span>
				<br>
				<span style="font-size:20px">Engaging </span>
				<span style="font-size:60px">Industrious </span>
				<span style="font-size:20px;">Motivated</span>
				<br>
				<span style="font-size:20px">Professional </span>
				<span style="font-size:40px">Reliable </span>
				<span style="font-size:40px;">Trustworthy</span>
			</div>
		</div>
	</div>
</div>
<div class="grey_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>
					You See What They Think
				</h1>
				<br>
				<em>
					<h2>
						(And What He Thinks They Think)
					</h2>
				</em>
			</div>
		</div>
	</div>
</div>
<div class="white_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
					<h1>Then Compare The Results Side By Side</h1>
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<table class="word_by_word">
					<tr>
						<td class="left">
							<span style="font-size:20px">Admirable </span>
						</td>
						<td class="right">
							<span style="font-size:40px">Admirable </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:40px">Capable </span>
						</td>
						<td class="right">
							<span style="font-size:20px">Capable </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:70px;">Dedicated</span>
						</td>
						<td class="right">
							<span style="font-size:30px;">Dedicated</span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:40px">Engaging </span>
						</td>
						<td class="right">
							<span style="font-size:20px">Engaging </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:20px">Industrious </span>
						</td>
						<td class="right">
							<span style="font-size:60px">Industrious </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:10px;">Motivated</span>
						</td>
						<td class="right">
							<span style="font-size:20px;">Motivated</span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:10px">Professional </span>
						</td>
						<td class="right">
							<span style="font-size:20px">Professional </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:50px">Reliable </span>
						</td>
						<td class="right">
							<span style="font-size:40px">Reliable </span>
						</td>
					</tr>
					<tr>
						<td class="left">
							<span style="font-size:20px;">Trustworthy</span>
						</td>
						<td class="right">
							<span style="font-size:40px;">Trustworthy</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="orange_landing_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<%= link_to new_user_registration_path do %>
				<div class="white_button_full_length">
					<h1>
						Try It Yourself
					</h1>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>