<div class="orange_stripe">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="black_heading">
					<h1>Beta Notes</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div class="white_section_box">
					This is the first iteration of Font Sketch, it is in a functional proof-of-concept state.
					<br>
					<br>
					The app in it's current form has its limitations, which is why it is currently free.
					<br>
					<br>
					This app requires little to no personal information to use, our email and sign-up systems are currently used as login-handles only, which means you don't have to provide valid email adresses if you don't want to.
					<br>
					<br>
					Both because of it's early state, and the nature of the testing method itself, Font Sketch is currently not a mistake friendly program, if you submit or finalize a form with wrong information, you can't change it. However since the process is so fast and free, you can always make a new sketch.
					<br>
					<br>
					Duplicate test subjects and testers are allowed, but every user email/login must be unique.
					<br>
					<br>
					New features will be added as Font Sketch becomes more viable as a product
				</div>
			</div>
		</div>
	</div>
</div>
