@import bootstrap

*
	font-family: Helvetica, sans-serif
	font-weight: normal
	font-size: 20px
	line-height: 130%


body
	background-color: #FF6600
	height: 100%

h1, h2, h3, h4, h5, h6
	font-weight: normal

.edit_table
	width: 100%
	text-align: center
	td
		font-size: 12px


.internal_table
	width: 100%
	text-align: center
	td
		padding: 10px
		border: 5px solid #FF6600

.message
	padding: 5px
	color: white
	background-color: blue

.error
	padding: 5px
	color: white
	background-color: red

#header
	a
		h1
			span
				font-size: 30px

.grey_stripe
	background-color: #4D4D4D
	a
		&:link, &:hover, &:visited, &:active

.dark_grey_stripe
	background-color: #333333
	a
		&:link, &:hover, &:visited, &:active
			
.orange_stripe
	background-color: #FF6600
	a
		&:link, &:hover, &:visited, &:active

.white_surrounding_box
	margin: 20px auto 20px auto
	background-color: white
	padding: 20px
	display: inline-block
	
.white_section_box
	margin: 20px auto 20px auto
	background-color: white
	padding: 20px
	.center
		text-align: center
	
.grey_sidebar
	font-size: 20px
	color: white
	margin: 20px auto 20px auto
	background-color: #4D4D4D
	padding: 20px
	display: inline-block
	.sidebar_heading
		color: #FF6600
		margin-bottom: 5px
		font-size: 25px
		font-style: italic
		text-decoration: underline
	span
		color: #FF6600

#test_footer
	positon: fixed
	bottom: 0
	height: 20px
	color: white
	background-color: #4D4D4D

#header
	display: inline-block
	a
		&:link, &:hover, &:visited, &:active
			color: white
			text-decoration: none

.login_button
	font-size: 20px
	background-color: #FF6600
	padding: 10px
	margin: 20px 0 20px 0
	a
		&:link, &:hover, &:visited, &:active
			color: white
			
.grey_button
	text-align: center
	display: inline-block
	font-size: 20px
	background-color: #4D4D4D
	padding: 10px
	margin: 20px auto 20px auto
	a
		&:link, &:hover, &:visited, &:active
			color: white
			
.orange_button_full_length
	border-radius: 20px
	color: black
	text-align: center
	font-size: 20px
	background-color: #FF6600
	padding: 10px
	margin: 20px auto 20px auto
	a
		&:link, &:hover, &:visited, &:active
			color: white
			text-decoration: none
			
.white_button_full_length
	text-align: center
	text-decoration: none
	color: black
	display: block
	font-size: 20px
	background-color: white
	padding: 10px
	margin: 20px auto 20px auto
	a
		&:link, &:hover, &:visited, &:active
			color: black
	&:hover
		background-color: #4D4D4D
		color: white
		a
			&:link, &:hover, &:visited, &:active
				color: white

.delete_button
	text-align: center
	background-color: red
	border: 2px solid black
	color: black
	padding: 10px
	margin: 20px auto 20px auto
	a
		&:link, &:hover, &:visited, &:active
			text-decoration: none
			color: black

.bundle_input
	padding: 5px
	font-size: 20px
.bundle_input_email

#font
	color: #FF6600
#beta
	color: #717171	
	
.black_heading
	text-align: center
	margin: 20px 0 20px 0
	a
		&:link, &:hover, &:visited, &:active
		color: white
		
.sketch_preview
	position: relative
	display: inline-block
	margin: auto	
	
.word_by_word
	width: 100%
	td
		padding: 5px
		border: 5px solid #FF6600
	.header
		background-color: #4D4D4D
		color: white
		font-size: 30px
	.left
		text-align: right
		width: 50%
	.right
		text-align: left
		width: 50%
		
.showing_only
	width: 100%
	td
		text-align: center
		padding: 5px
		border: 5px solid #FF6600