<div class="dark_grey_landing_footer">
	<div class="container">
		<div class="row">
			<div class="span4">
				<%= link_to about_path do %>
					<div class="white_button_full_length">
						<h1>
							About
						</h1>
					</div>
				<% end %>
			</div>
			<div class="span4">
				<%= link_to notes_path do %>
					<div class="white_button_full_length">
						<h1>
							Beta Notes
						</h1>
					</div>
				<% end %>
			</div>
			<div class="span4">
			<%= link_to landing_path do %>
				<div class="white_button_full_length">
					<h1>
						Landing
					</h1>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>